@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

.main-article-heading {
    font-family: 'Lobster';
    color: #019587;
    padding: 20px;
    margin-bottom: 0;
    border-bottom: 1px solid #d2d2d2;
}

.article-container {
    border: 1px solid #d2d2d2;
    padding: 0;
    box-shadow: 0 4px 2px -2px #d2d2d2;
    margin-top: 50px;
    margin-bottom: 50px;

}

.inner-article {
    padding: 10px 20px;
}

.article-title {
    font-size: 20px;
    margin-bottom: 0;
}

.article-date {
    color: #455559;
    margin-right: 10px;
}

.tag-button {
    background: #fff;
    border: none;
    color: #019589;
    font-weight: 500;
    padding-right: 0;
    height: 0;
}

.tag-button:hover, .tag-button:active, .tag-button:focus, .tag-button:disabled {
    background: #fff;
    color: #455559;
    padding-right: 0;
    height: 0;
}

.add-new-article-button {
    background: #fff;
    border: 0;
    color: #019587;
    font-weight: 500;
}

.open-button {
    background: #019587;
    color: #fff;
    padding: 5px 10px;
    width: 75px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 5px;
}

.open-button:hover {
    color: #fff;
}

.delete-button {
    background: gray;
    border: none;
    color: #fff;
    padding: 5px 10px;
    width: 75px;
    text-align: center;
}

.submit-article-button {
    background: #019587;
    border: none;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    margin-top: 15px;
}

.openDelete {
    margin-top: 10px;
}

.article-synopsis {
    width: 100%;
    max-width: 600px;
}

.add-article-form {
    padding: 20px;
    border-top: 1px solid #d2d2d2;
    margin-top: 20px;
}

.add-article-show-all-buttons {
    padding: 10px 20px;
}

.divider {
    margin: 0 5px;
    color: #d2d2d2;
}

.article-form-label {
    font-weight: 500;
    margin-bottom: 0;
}

.article-form-group {
    margin-bottom: 10px;
}

.form-control:focus {
    border-color: #019587;
    box-shadow: 1px 1px 3px #019589;
}